html,
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding:0;
}

body {

    font-size: 22px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: #fff;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-button {
    min-width: 11rem;
    display: flex;
    justify-content: center;

    height:2.1rem;
    padding: 0.375rem 0.375rem 0;
    margin-right: 2rem;
    background: #eee;
    border-radius: 0.25rem;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
    perspective: 30rem;
}


.cover {
    transform-origin: center bottom;
    transform-style: preserve-3d;
    text-align: center;
    z-index: 99;
}
.cover, .cover > * {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.cover svg{
    width: 40px;
    height:40px;
    filter: drop-shadow(0 1px 2px rgba(0,0,0,0.25));
}
.inner, .outer {
    border-radius: 0.25rem;
    background-image: linear-gradient(to bottom, transparent 0%, rgba(0,0,0,0.1) 100%);
}
.outer {
    transform:translateZ(0.25rem);
}
.edge {
    top:0.25rem;
    height:0.25rem;
    transform:rotateX(90deg);
    transform-origin: center top;
}
.social-button:hover .cover {
    transform:rotateX(-120deg);
}
.social-button, .social-button div {
    transition-duration: 0.7s;
    transition-timing-function: ease;
}
.shadow {
    position: absolute;
    top:100%;
    left:0;
    width:100%;
    height:3.2rem;
    border-radius: 0.5rem;
    opacity: 0;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%, transparent 100%);
    transform:rotateX(90deg);
    transform-origin: center top;
}
.social-button:hover .shadow {
    transform: rotateX(45deg) scale(0.95);
    opacity: 1;
}

.twitter .inner {
    background-color: #67e2fe;
}
.twitter .outer {
    background-color: #2ec8fa;

}
.twitter .edge {
    background-color: #20c7f3;
}
.facebook .inner {
    background-color: #3b5998;
}
.facebook .outer {
    background-color: #476ab4;

}
.facebook .edge {
    background-color: #2f477c;
}
.youtube .inner {
    background-color: #ff1d1d;
}
.youtube .outer {
    background-color: #ff0000;
}
.youtube .edge {
    background-color: #df0000;
}
