@import url("https://fonts.googleapis.com/css?family=Catamaran");
html, body {
  height: 100%;
  width: 100%;
  margin: 0; }

h1 {
  position: absolute;
  width: 100%;
  text-align: center;
  font-family: sans-serif;
  font-size: 1.2rem; }

#container {
  width: 19.5rem;
  height: 5rem;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0); }
  #container > div:not(#sunglasses) {
    width: 50%;
    height: 50%;
    position: absolute;
    z-index: 3; }
    #container > div:not(#sunglasses).top {
      top: 0; }
    #container > div:not(#sunglasses).bottom {
      bottom: 0; }
    #container > div:not(#sunglasses).left {
      left: 0; }
    #container > div:not(#sunglasses).right {
      right: 0; }
    #container > div:not(#sunglasses):hover {
      cursor: pointer; }
  #container .top.left:hover ~ #sunglasses {
    transform: perspective(600px) rotateX(20deg) rotateY(-20deg); }
  #container .top.right:hover ~ #sunglasses {
    transform: perspective(600px) rotateX(20deg) rotateY(20deg); }
  #container .bottom.left:hover ~ #sunglasses {
    transform: perspective(600px) rotateX(-20deg) rotateY(-20deg); }
  #container .bottom.right:hover ~ #sunglasses {
    transform: perspective(600px) rotateX(-20deg) rotateY(20deg); }

#sunglasses {
  width: 19.5rem;
  height: 5rem;
  position: relative;
  transition: 0.2s;
  transform-style: preserve-3d; }
  #sunglasses .lens {
    width: 7rem;
    height: 5rem;
    background: linear-gradient(135deg, transparent 15%, white 15%, white 30%, transparent 30%, transparent 36%, white 36%, white 44.5%, transparent 44.5%), linear-gradient(to bottom, #ECA928 0, #ECA928 25%, #EDDE4C 25%, #EDDE4C 50%, #FD689A 50%, #FD689A 75%, #CA4DEB 75%);
    position: absolute;
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
    border: 0.8rem solid #262626; }
    #sunglasses .lens:before, #sunglasses .lens:after {
      display: block;
      position: absolute; }
    #sunglasses .lens:before {
      content: "\2666";
      font-family: 'Catamaran', sans-serif;
      color: white;
      background-color: #262626;
      width: 1.5rem;
      height: 1.5rem;
      font-size: 0.7rem;
      line-height: 1.5rem;
      text-align: center;
      top: -0.8rem; }
    #sunglasses .lens:after {
      content: '';
      width: 2.7rem;
      height: 2.7rem;
      background-image: radial-gradient(circle at 0% 100%, transparent 0%, transparent 36%, #262626 36%, #262626 55%, transparent 55%);
      top: -0.3rem; }
    #sunglasses .lens#right-lens {
      right: 0;
      border-top-left-radius: 1.5rem; }
      #sunglasses .lens#right-lens:after {
        left: -2rem; }
      #sunglasses .lens#right-lens:before {
        right: -2rem;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px; }
    #sunglasses .lens#left-lens {
      left: 0;
      border-top-right-radius: 1.5rem; }
      #sunglasses .lens#left-lens:after {
        transform: rotate(-90deg);
        right: -2rem; }
      #sunglasses .lens#left-lens:before {
        left: -2rem;
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px; }
  #sunglasses .arm {
    width: 17rem;
    height: 1.5rem;
    background-color: #262626;
    position: absolute;
    top: 0;
    transform: rotateY(90deg) translateX(8rem);
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px; }
    #sunglasses .arm#left-arm {
      left: -9.5rem; }
    #sunglasses .arm#right-arm {
      right: -9.5rem; }
    #sunglasses .arm:before, #sunglasses .arm:after {
      content: '';
      display: block;
      position: absolute; }
    #sunglasses .arm:before {
      height: 2rem;
      width: 3rem;
      background-image: radial-gradient(ellipse at 0% 100%, transparent 18%, #262626 18%, #262626 70%, transparent 70%);
      right: -3rem; }
    #sunglasses .arm:after {
      height: 2.5rem;
      width: 2.2rem;
      border-radius: 50%;
      background-color: #262626;
      right: -3rem;
      top: 52%; }

/*# sourceMappingURL=Lenskart%20Sux.css.map */
