$or: #eb7136;
$or2: #c6522c;
$red: #b53328;
$yell: #fada36;
$dark: #222;

.charmander {
  width: 20rem;
  height: 20rem;
  top:50%;
  left: 50%;
  transform:translate(-50% ,-50%);
  position: absolute;
}

.pixel {
  width: 1rem;
  height: 1rem;
  box-shadow:
          /* row 1 */
          5rem 0rem 0 0rem $dark,
          6rem 0rem 0 0rem $dark,
          7rem 0rem 0 0rem $dark,
          8rem 0rem 0 0rem $dark,
          18rem 0rem 0 0rem $dark,
            /* row 2 */
          4rem 1rem 0 0rem $dark,
          5rem 1rem 0 0rem $or,
          6rem 1rem 0 0rem $or,
          7rem 1rem 0 0rem $or,
          8rem 1rem 0 0rem $or2,
          9rem 1rem 0 0rem $dark,
          17rem 1rem 0 0rem $dark,
          18rem 1rem 0 0rem $red,
          19rem 1rem 0 0rem $dark,
            /* row 3 */
          3rem 2rem 0 0rem $dark,
          4rem 2rem 0 0rem $or,
          5rem 2rem 0 0rem $or,
          6rem 2rem 0 0rem $or,
          7rem 2rem 0 0rem $or,
          8rem 2rem 0 0rem $or,
          9rem 2rem 0 0rem $or2,
          10rem 2rem 0 0rem $dark,
          17rem 2rem 0 0rem $dark,
          18rem 2rem 0 0rem $red,
          19rem 2rem 0 0rem $red,
          20rem 2rem 0 0rem $dark,
            /* row 4 */
          3rem 3rem 0 0rem $dark,
          4rem 3rem 0 0rem $or,
          5rem 3rem 0 0rem $or,
          6rem 3rem 0 0rem $or,
          7rem 3rem 0 0rem $or,
          8rem 3rem 0 0rem $or,
          9rem 3rem 0 0rem $or,
          10rem 3rem 0 0rem $dark,
          17rem 3rem 0 0rem $dark,
          18rem 3rem 0 0rem $red,
          19rem 3rem 0 0rem $red,
          20rem 3rem 0 0rem $dark,
            /* row 5 */
          2rem 4rem 0 0 $dark,
          3rem 4rem 0 0rem $or,
          4rem 4rem 0 0rem $or,
          5rem 4rem 0 0rem $or,
          6rem 4rem 0 0rem $or,
          7rem 4rem 0 0rem $or,
          8rem 4rem 0 0rem $or,
          9rem 4rem 0 0rem $or,
          10rem 4rem 0 0rem $or2,
          11rem 4rem 0 0rem $dark,
          16rem 4rem 0 0rem $dark,
          17rem 4rem 0 0rem $red,
          18rem 4rem 0 0rem $red,
          19rem 4rem 0 0rem $or,
          20rem 4rem 0 0rem $red,
          21rem 4rem 0 0rem $dark,
            /* row 6 */
          1rem 5rem 0 0 $dark,
          2rem 5rem 0 0 $or,
          3rem 5rem 0 0rem $or,
          4rem 5rem 0 0rem $or,
          5rem 5rem 0 0rem $or,
          7rem 5rem 0 0rem $dark,
          8rem 5rem 0 0rem $or,
          9rem 5rem 0 0rem $or,
          10rem 5rem 0 0rem $or2,
          11rem 5rem 0 0rem $dark,
          16rem 5rem 0 0rem $dark,
          17rem 5rem 0 0rem $red,
          18rem 5rem 0 0rem $or,
          19rem 5rem 0 0rem $yell,
          20rem 5rem 0 0rem $red,
          21rem 5rem 0 0rem $dark,
            /* row 7 */
          1rem 6rem 0 0 $dark,
          2rem 6rem 0 0 $or,
          3rem 6rem 0 0rem $or,
          4rem 6rem 0 0rem $or,
          5rem 6rem 0 0rem $or,
          6rem 6rem 0 0rem $dark,
          7rem 6rem 0 0rem $dark,
          8rem 6rem 0 0rem $or,
          9rem 6rem 0 0rem $or2,
          10rem 6rem 0 0rem $or2,
          11rem 6rem 0 0rem $or2,
          12rem 6rem 0 0rem $dark,
          16rem 6rem 0 0rem $dark,
          17rem 6rem 0 0rem $red,
          18rem 6rem 0 0rem $yell,
          19rem 6rem 0 0rem $yell,
          20rem 6rem 0 0rem $red,
          21rem 6rem 0 0rem $dark,
            /* row 8 */
          1rem 7rem 0 0 $dark,
          2rem 7rem 0 0 $or,
          3rem 7rem 0 0rem $or,
          4rem 7rem 0 0rem $or,
          5rem 7rem 0 0rem $or,
          6rem 7rem 0 0rem $dark,
          7rem 7rem 0 0rem $dark,
          8rem 7rem 0 0rem $or,
          9rem 7rem 0 0rem $or2,
          10rem 7rem 0 0rem $or2,
          11rem 7rem 0 0rem $or2,
          12rem 7rem 0 0rem $dark,
          17rem 7rem 0 0rem $dark,
          18rem 7rem 0 0rem $yell,
          19rem 7rem 0 0rem #333,
          20rem 7rem 0 0rem $dark,
            /* row 9 */
          2rem 8rem 0 0 $dark,
          3rem 8rem 0 0rem $or2,
          4rem 8rem 0 0rem $or,
          5rem 8rem 0 0rem $or,
          6rem 8rem 0 0rem $or,
          7rem 8rem 0 0rem $or,
          8rem 8rem 0 0rem $or2,
          9rem 8rem 0 0rem $or2,
          10rem 8rem 0 0rem $or2,
          11rem 8rem 0 0rem $or2,
          12rem 8rem 0 0rem $or2,
          13rem 8rem 0 0rem $dark,
          17rem 8rem 0 0rem $dark,
          18rem 8rem 0 0rem $or,
          19rem 8rem 0 0rem $dark,
            /* row 10 */
          3rem 9rem 0 0rem $dark,
          4rem 9rem 0 0rem $dark,
          5rem 9rem 0 0rem $or2,
          6rem 9rem 0 0rem $or2,
          7rem 9rem 0 0rem $or2,
          8rem 9rem 0 0rem $or2,
          9rem 9rem 0 0rem $or2,
          10rem 9rem 0 0rem $or2,
          11rem 9rem 0 0rem $or2,
          12rem 9rem 0 0rem $or2,
          13rem 9rem 0 0rem $or2,
          14rem 9rem 0 0rem $dark,
          16rem 9rem 0 0rem $dark,
          17rem 9rem 0 0rem $or,
          18rem 9rem 0 0rem $or,
          19rem 9rem 0 0rem $dark,
            /* row 11 */
          5rem 10rem 0 0rem $dark,
          6rem 10rem 0 0rem $dark,
          7rem 10rem 0 0rem $dark,
          8rem 10rem 0 0rem $or2,
          9rem 10rem 0 0rem $or2,
          10rem 10rem 0 0rem $dark,
          11rem 10rem 0 0rem $or2,
          12rem 10rem 0 0rem $or2,
          13rem 10rem 0 0rem $or2,
          14rem 10rem 0 0rem $dark,
          15rem 10rem 0 0rem $dark,
          16rem 10rem 0 0rem $or,
          17rem 10rem 0 0rem $or,
          18rem 10rem 0 0rem $dark,
            /* row 12 */
          6rem 11rem 0 0rem $dark,
          7rem 11rem 0 0rem $yell,
          8rem 11rem 0 0rem $yell,
          9rem 11rem 0 0rem $dark,
          10rem 11rem 0 0rem $or2,
          11rem 11rem 0 0rem $or2,
          12rem 11rem 0 0rem $or2,
          13rem 11rem 0 0rem $or2,
          14rem 11rem 0 0rem $or2,
          15rem 11rem 0 0rem $dark,
          16rem 11rem 0 0rem $or,
          17rem 11rem 0 0rem $or,
          18rem 11rem 0 0rem $dark,
            /* row 13 */
          6rem 12rem 0 0rem $dark,
          7rem 12rem 0 0rem $yell,
          8rem 12rem 0 0rem $yell,
          9rem 12rem 0 0rem $yell,
          10rem 12rem 0 0rem $dark,
          11rem 12rem 0 0rem $dark,
          12rem 12rem 0 0rem $or2,
          13rem 12rem 0 0rem $or2,
          14rem 12rem 0 0rem $or2,
          15rem 12rem 0 0rem $dark,
          16rem 12rem 0 0rem $or,
          17rem 12rem 0 0rem $dark,
            /* row 14 */
          5rem 13rem 0 0rem $dark,
          7rem 13rem 0 0rem $dark,
          8rem 13rem 0 0rem $yell,
          9rem 13rem 0 0rem $yell,
          10rem 13rem 0 0rem $yell,
          11rem 13rem 0 0rem $or2,
          12rem 13rem 0 0rem $or2,
          13rem 13rem 0 0rem $or2,
          14rem 13rem 0 0rem $or2,
          15rem 13rem 0 0rem $dark,
          16rem 13rem 0 0rem $dark,
            /* row 15 */
          6rem 14rem 0 0rem $dark,
          7rem 14rem 0 0rem $dark,
          8rem 14rem 0 0rem $dark,
          9rem 14rem 0 0rem $yell,
          10rem 14rem 0 0rem $yell,
          11rem 14rem 0 0rem $or2,
          12rem 14rem 0 0rem $or2,
          13rem 14rem 0 0rem $or2,
          14rem 14rem 0 0rem $dark,
          15rem 14rem 0 0rem $dark,
            /* row 15 */
          9rem 15rem 0 0rem $dark,
          10rem 15rem 0 0rem $dark,
          11rem 15rem 0 0rem $dark,
          12rem 15rem 0 0rem $or2,
          13rem 15rem 0 0rem $dark,
          14rem 15rem 0 0rem $dark,
            /* row 16 */
          10rem 16rem 0 0rem $dark,
          12rem 16rem 0 0rem $or2,
          14rem 16rem 0 0rem $dark,
            /* row 16 */
          11rem 17rem 0 0rem $dark,
          12rem 17rem 0 0rem $dark,
          13rem 17rem 0 0rem $dark
}
