body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333; }

.pixelArt {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center; }

.canvas {
  width: 210px;
  height: 300px; }

.pixel {
  width: 10px;
  height: 10px;
  float: left; }

.pixel:nth-child(28),
.pixel:nth-child(29),
.pixel:nth-child(30),
.pixel:nth-child(31),
.pixel:nth-child(32),
.pixel:nth-child(33),
.pixel:nth-child(34),
.pixel:nth-child(35),
.pixel:nth-child(36),
.pixel:nth-child(47),
.pixel:nth-child(48),
.pixel:nth-child(49),
.pixel:nth-child(50),
.pixel:nth-child(51),
.pixel:nth-child(52),
.pixel:nth-child(53),
.pixel:nth-child(54),
.pixel:nth-child(55),
.pixel:nth-child(56),
.pixel:nth-child(57),
.pixel:nth-child(58),
.pixel:nth-child(59),
.pixel:nth-child(68),
.pixel:nth-child(68),
.pixel:nth-child(69),
.pixel:nth-child(70),
.pixel:nth-child(71),
.pixel:nth-child(72),
.pixel:nth-child(73),
.pixel:nth-child(74),
.pixel:nth-child(75),
.pixel:nth-child(76),
.pixel:nth-child(77),
.pixel:nth-child(78),
.pixel:nth-child(79),
.pixel:nth-child(80),
.pixel:nth-child(88),
.pixel:nth-child(89),
.pixel:nth-child(90),
.pixel:nth-child(91),
.pixel:nth-child(92),
.pixel:nth-child(93),
.pixel:nth-child(94),
.pixel:nth-child(95),
.pixel:nth-child(96),
.pixel:nth-child(97),
.pixel:nth-child(98),
.pixel:nth-child(99),
.pixel:nth-child(100),
.pixel:nth-child(101),
.pixel:nth-child(102),
.pixel:nth-child(109),
.pixel:nth-child(110),
.pixel:nth-child(114),
.pixel:nth-child(115),
.pixel:nth-child(116),
.pixel:nth-child(117),
.pixel:nth-child(118),
.pixel:nth-child(122),
.pixel:nth-child(123),
.pixel:nth-child(130),
.pixel:nth-child(131),
.pixel:nth-child(135),
.pixel:nth-child(136),
.pixel:nth-child(137),
.pixel:nth-child(138),
.pixel:nth-child(139),
.pixel:nth-child(143),
.pixel:nth-child(144),
.pixel:nth-child(151),
.pixel:nth-child(152),
.pixel:nth-child(156),
.pixel:nth-child(157),
.pixel:nth-child(159),
.pixel:nth-child(160),
.pixel:nth-child(164),
.pixel:nth-child(165),
.pixel:nth-child(173),
.pixel:nth-child(174),
.pixel:nth-child(175),
.pixel:nth-child(176),
.pixel:nth-child(177),
.pixel:nth-child(181),
.pixel:nth-child(182),
.pixel:nth-child(183),
.pixel:nth-child(184),
.pixel:nth-child(185),
.pixel:nth-child(194),
.pixel:nth-child(196),
.pixel:nth-child(197),
.pixel:nth-child(198),
.pixel:nth-child(199),
.pixel:nth-child(200),
.pixel:nth-child(201),
.pixel:nth-child(202),
.pixel:nth-child(203),
.pixel:nth-child(204),
.pixel:nth-child(206),
.pixel:nth-child(214),
.pixel:nth-child(215),
.pixel:nth-child(227),
.pixel:nth-child(228),
.pixel:nth-child(235),
.pixel:nth-child(236),
.pixel:nth-child(237),
.pixel:nth-child(239),
.pixel:nth-child(241),
.pixel:nth-child(243),
.pixel:nth-child(245),
.pixel:nth-child(247),
.pixel:nth-child(248),
.pixel:nth-child(249),
.pixel:nth-child(258),
.pixel:nth-child(259),
.pixel:nth-child(267),
.pixel:nth-child(268),
.pixel:nth-child(281),
.pixel:nth-child(282),
.pixel:nth-child(283),
.pixel:nth-child(284),
.pixel:nth-child(285),
.pixel:nth-child(286),
.pixel:nth-child(287),
.pixel:nth-child(323),
.pixel:nth-child(324),
.pixel:nth-child(325),
.pixel:nth-child(327),
.pixel:nth-child(328),
.pixel:nth-child(329),
.pixel:nth-child(347),
.pixel:nth-child(366),
.pixel:nth-child(367),
.pixel:nth-child(369),
.pixel:nth-child(370),
.pixel:nth-child(387),
.pixel:nth-child(388),
.pixel:nth-child(389),
.pixel:nth-child(390),
.pixel:nth-child(391),
.pixel:nth-child(409),
.pixel:nth-child(410),
.pixel:nth-child(411),
.pixel:nth-child(429),
.pixel:nth-child(430),
.pixel:nth-child(431),
.pixel:nth-child(432),
.pixel:nth-child(433),
.pixel:nth-child(572),
.pixel:nth-child(573),
.pixel:nth-child(574),
.pixel:nth-child(575),
.pixel:nth-child(581),
.pixel:nth-child(582),
.pixel:nth-child(583),
.pixel:nth-child(584),
.pixel:nth-child(591),
.pixel:nth-child(592),
.pixel:nth-child(593),
.pixel:nth-child(594),
.pixel:nth-child(595),
.pixel:nth-child(603),
.pixel:nth-child(604),
.pixel:nth-child(605),
.pixel:nth-child(606),
.pixel:nth-child(607) {
  background: #ffffff; }

.pixel:nth-child(7),
.pixel:nth-child(8),
.pixel:nth-child(9),
.pixel:nth-child(10),
.pixel:nth-child(11),
.pixel:nth-child(12),
.pixel:nth-child(13),
.pixel:nth-child(14),
.pixel:nth-child(15),
.pixel:nth-child(26),
.pixel:nth-child(27),
.pixel:nth-child(37),
.pixel:nth-child(38),
.pixel:nth-child(46),
.pixel:nth-child(60),
.pixel:nth-child(67),
.pixel:nth-child(81),
.pixel:nth-child(87),
.pixel:nth-child(103),
.pixel:nth-child(108),
.pixel:nth-child(111),
.pixel:nth-child(112),
.pixel:nth-child(113),
.pixel:nth-child(119),
.pixel:nth-child(120),
.pixel:nth-child(121),
.pixel:nth-child(124),
.pixel:nth-child(129),
.pixel:nth-child(132),
.pixel:nth-child(133),
.pixel:nth-child(134),
.pixel:nth-child(140),
.pixel:nth-child(141),
.pixel:nth-child(142),
.pixel:nth-child(145),
.pixel:nth-child(150),
.pixel:nth-child(153),
.pixel:nth-child(154),
.pixel:nth-child(155),
.pixel:nth-child(158),
.pixel:nth-child(161),
.pixel:nth-child(162),
.pixel:nth-child(163),
.pixel:nth-child(166),
.pixel:nth-child(172),
.pixel:nth-child(178),
.pixel:nth-child(179),
.pixel:nth-child(180),
.pixel:nth-child(186),
.pixel:nth-child(192),
.pixel:nth-child(193),
.pixel:nth-child(195),
.pixel:nth-child(205),
.pixel:nth-child(207),
.pixel:nth-child(208),
.pixel:nth-child(213),
.pixel:nth-child(216),
.pixel:nth-child(217),
.pixel:nth-child(218),
.pixel:nth-child(219),
.pixel:nth-child(220),
.pixel:nth-child(221),
.pixel:nth-child(222),
.pixel:nth-child(223),
.pixel:nth-child(224),
.pixel:nth-child(225),
.pixel:nth-child(226),
.pixel:nth-child(229),
.pixel:nth-child(234),
.pixel:nth-child(238),
.pixel:nth-child(240),
.pixel:nth-child(242),
.pixel:nth-child(244),
.pixel:nth-child(246),
.pixel:nth-child(250),
.pixel:nth-child(256),
.pixel:nth-child(257),
.pixel:nth-child(260),
.pixel:nth-child(261),
.pixel:nth-child(262),
.pixel:nth-child(263),
.pixel:nth-child(264),
.pixel:nth-child(265),
.pixel:nth-child(266),
.pixel:nth-child(269),
.pixel:nth-child(270),
.pixel:nth-child(276),
.pixel:nth-child(277),
.pixel:nth-child(278),
.pixel:nth-child(279),
.pixel:nth-child(280),
.pixel:nth-child(288),
.pixel:nth-child(289),
.pixel:nth-child(290),
.pixel:nth-child(291),
.pixel:nth-child(292),
.pixel:nth-child(296),
.pixel:nth-child(298),
.pixel:nth-child(299),
.pixel:nth-child(300),
.pixel:nth-child(301),
.pixel:nth-child(302),
.pixel:nth-child(303),
.pixel:nth-child(304),
.pixel:nth-child(305),
.pixel:nth-child(306),
.pixel:nth-child(307),
.pixel:nth-child(308),
.pixel:nth-child(309),
.pixel:nth-child(310),
.pixel:nth-child(311),
.pixel:nth-child(312),
.pixel:nth-child(314),
.pixel:nth-child(317),
.pixel:nth-child(319),
.pixel:nth-child(322),
.pixel:nth-child(326),
.pixel:nth-child(330),
.pixel:nth-child(333),
.pixel:nth-child(335),
.pixel:nth-child(338),
.pixel:nth-child(341),
.pixel:nth-child(344),
.pixel:nth-child(345),
.pixel:nth-child(346),
.pixel:nth-child(348),
.pixel:nth-child(349),
.pixel:nth-child(350),
.pixel:nth-child(353),
.pixel:nth-child(356),
.pixel:nth-child(358),
.pixel:nth-child(360),
.pixel:nth-child(361),
.pixel:nth-child(363),
.pixel:nth-child(364),
.pixel:nth-child(365),
.pixel:nth-child(368),
.pixel:nth-child(371),
.pixel:nth-child(372),
.pixel:nth-child(373),
.pixel:nth-child(375),
.pixel:nth-child(376),
.pixel:nth-child(378),
.pixel:nth-child(379),
.pixel:nth-child(383),
.pixel:nth-child(386),
.pixel:nth-child(392),
.pixel:nth-child(395),
.pixel:nth-child(399),
.pixel:nth-child(400),
.pixel:nth-child(405),
.pixel:nth-child(407),
.pixel:nth-child(408),
.pixel:nth-child(412),
.pixel:nth-child(413),
.pixel:nth-child(415),
.pixel:nth-child(420),
.pixel:nth-child(422),
.pixel:nth-child(425),
.pixel:nth-child(428),
.pixel:nth-child(434),
.pixel:nth-child(437),
.pixel:nth-child(440),
.pixel:nth-child(444),
.pixel:nth-child(446),
.pixel:nth-child(449),
.pixel:nth-child(450),
.pixel:nth-child(451),
.pixel:nth-child(452),
.pixel:nth-child(453),
.pixel:nth-child(454),
.pixel:nth-child(455),
.pixel:nth-child(458),
.pixel:nth-child(460),
.pixel:nth-child(465),
.pixel:nth-child(466),
.pixel:nth-child(467),
.pixel:nth-child(470),
.pixel:nth-child(471),
.pixel:nth-child(472),
.pixel:nth-child(473),
.pixel:nth-child(474),
.pixel:nth-child(475),
.pixel:nth-child(476),
.pixel:nth-child(479),
.pixel:nth-child(480),
.pixel:nth-child(481),
.pixel:nth-child(487),
.pixel:nth-child(488),
.pixel:nth-child(489),
.pixel:nth-child(490),
.pixel:nth-child(491),
.pixel:nth-child(492),
.pixel:nth-child(493),
.pixel:nth-child(494),
.pixel:nth-child(495),
.pixel:nth-child(496),
.pixel:nth-child(497),
.pixel:nth-child(498),
.pixel:nth-child(499),
.pixel:nth-child(500),
.pixel:nth-child(501),
.pixel:nth-child(507),
.pixel:nth-child(508),
.pixel:nth-child(509),
.pixel:nth-child(510),
.pixel:nth-child(511),
.pixel:nth-child(512),
.pixel:nth-child(513),
.pixel:nth-child(514),
.pixel:nth-child(515),
.pixel:nth-child(516),
.pixel:nth-child(517),
.pixel:nth-child(518),
.pixel:nth-child(519),
.pixel:nth-child(520),
.pixel:nth-child(521),
.pixel:nth-child(522),
.pixel:nth-child(523),
.pixel:nth-child(528),
.pixel:nth-child(529),
.pixel:nth-child(530),
.pixel:nth-child(531),
.pixel:nth-child(532),
.pixel:nth-child(533),
.pixel:nth-child(534),
.pixel:nth-child(535),
.pixel:nth-child(537),
.pixel:nth-child(538),
.pixel:nth-child(539),
.pixel:nth-child(540),
.pixel:nth-child(541),
.pixel:nth-child(542),
.pixel:nth-child(543),
.pixel:nth-child(544),
.pixel:nth-child(550),
.pixel:nth-child(551),
.pixel:nth-child(552),
.pixel:nth-child(553),
.pixel:nth-child(554),
.pixel:nth-child(555),
.pixel:nth-child(559),
.pixel:nth-child(560),
.pixel:nth-child(561),
.pixel:nth-child(562),
.pixel:nth-child(563),
.pixel:nth-child(564),
.pixel:nth-child(569),
.pixel:nth-child(570),
.pixel:nth-child(571),
.pixel:nth-child(576),
.pixel:nth-child(580),
.pixel:nth-child(585),
.pixel:nth-child(586),
.pixel:nth-child(587),
.pixel:nth-child(590),
.pixel:nth-child(596),
.pixel:nth-child(597),
.pixel:nth-child(601),
.pixel:nth-child(602),
.pixel:nth-child(608),
.pixel:nth-child(612),
.pixel:nth-child(613),
.pixel:nth-child(614),
.pixel:nth-child(615),
.pixel:nth-child(616),
.pixel:nth-child(624),
.pixel:nth-child(625),
.pixel:nth-child(626),
.pixel:nth-child(627),
.pixel:nth-child(628) {
  background: #000; }

.pixel:nth-child(297),
.pixel:nth-child(313),
.pixel:nth-child(318),
.pixel:nth-child(334),
.pixel:nth-child(339),
.pixel:nth-child(340),
.pixel:nth-child(354),
.pixel:nth-child(355),
.pixel:nth-child(359),
.pixel:nth-child(362),
.pixel:nth-child(374),
.pixel:nth-child(377),
.pixel:nth-child(380),
.pixel:nth-child(381),
.pixel:nth-child(382),
.pixel:nth-child(384),
.pixel:nth-child(385),
.pixel:nth-child(393),
.pixel:nth-child(394),
.pixel:nth-child(396),
.pixel:nth-child(397),
.pixel:nth-child(398),
.pixel:nth-child(401),
.pixel:nth-child(402),
.pixel:nth-child(403),
.pixel:nth-child(404),
.pixel:nth-child(406),
.pixel:nth-child(414),
.pixel:nth-child(416),
.pixel:nth-child(417),
.pixel:nth-child(418),
.pixel:nth-child(419),
.pixel:nth-child(423),
.pixel:nth-child(424),
.pixel:nth-child(426),
.pixel:nth-child(427),
.pixel:nth-child(435),
.pixel:nth-child(436),
.pixel:nth-child(438),
.pixel:nth-child(439),
.pixel:nth-child(445),
.pixel:nth-child(447),
.pixel:nth-child(448),
.pixel:nth-child(456),
.pixel:nth-child(457),
.pixel:nth-child(459),
.pixel:nth-child(468),
.pixel:nth-child(469),
.pixel:nth-child(477),
.pixel:nth-child(478) {
  background: #5579c6; }

.pixel:nth-child(320),
.pixel:nth-child(321),
.pixel:nth-child(331),
.pixel:nth-child(332),
.pixel:nth-child(342),
.pixel:nth-child(343),
.pixel:nth-child(351),
.pixel:nth-child(352) {
  background: #bcbec6; }

.leftEyeWink .pixel:nth-child(111),
.leftEyeWink .pixel:nth-child(112),
.leftEyeWink .pixel:nth-child(113),
.leftEyeWink .pixel:nth-child(132),
.leftEyeWink .pixel:nth-child(133),
.leftEyeWink .pixel:nth-child(134) {
  background: #ffffff; }

/*# sourceMappingURL=sans.css.map */
